# -------------------------------------
# .DOCKERIGNORE
# -------------------------------------

.*
tests
.gitignore
.vagrant/
.editorconfig
.git/
.venv/
*.md
*/collected-static/
docker-compose.yml
docs/
deploy/
docker/
uploads/
__pycache__/
circle.yml
Makefile
Clickfile
Pipfile
