{% raw %}
<div class="container">
    <h2 class="ui-h my-6">Lists</h2>
    <h3 class="ui-h my-6">Unordered List</h3>
    <ul>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
    </ul>

    <h3 class="ui-h my-6">Unordered List, No Styles</h3>
    <ul class="list-unstyled">
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie lorem at massa</li>
    </ul>

    <h3 class="ui-h my-6">Unordered List, Inline</h3>
    <ul class="list-inline">
        <li class="list-inline-item">Consectetur adipiscing elit</li>
        <li class="list-inline-item">Integer molestie lorem at massa</li>
    </ul>
</div>
{% endraw %}
