// ------------------------------------
// UI CONFIG
// ------------------------------------
// See: http://www.flatuicolorpicker.com/
// This file _should not generate css_.

$ui-chesnut-rose:         #D1645D;
$ui-silver-sand:          #BDC3C7;
$ui-nephritis:            #27ae60;
$ui-foreground-color:     $color-black;
$ui-background-color:     $color-white;
$ui-heading-color:        $ui-foreground-color;
$ui-readline-color:       $ui-chesnut-rose;
$ui-swatch-outline-color: $ui-silver-sand;
$ui-fontset-border-color: $ui-silver-sand;
