{% raw %}
{% extends "ui_kit/base.html" %}
{% load staticfiles sekizai_tags %}

{% block content %}
<main class="main--ui-kit" role="main">
    <section class="container my-10 pb-5">
        <div class="card bg-transparent">
            <ul class="mb-0 card-body text-muted list-unstyled">
                <header>
                    <h1 class="ui-h mb-6 display-4">Styleguide</h1>
                </header>
                <li><p class="ui-p mb-0">This kit documents the user-interface styles, components, and modules for this project.</p></li>
            </ul>
        </div>
    </section>


    {% include "ui_kit/style/style.html" %}
    {% include "ui_kit/components/components.html" %}
    {% include "ui_kit/modules/modules.html" %}

</main>
{% endblock content %}
{% endraw %}
