{% raw %}
<div class="container">
    <h2 class="ui-h my-6">Buttons</h2>
    <h3 class="ui-h my-6 hide">Primary Buttons</h3>
    <div class="row">
        <div class="col-sm-3 mb-3">
            <button class="btn btn-default" type="submit">Default Button</button>
        </div>
        <div class="col-sm-3 mb-3">
            <a href="#" class="btn btn-primary">Primary Button</a>
        </div>
        <div class="col-sm-3 mb-3">
            <button class="btn btn-secondary" type="submit">Secondary Button</button>
        </div>
        <div class="col-sm-3 mb-3 hide">
            <button class="btn btn-info" type="submit">Info Button</button>
        </div>
        <div class="col-sm-3 mb-3 hide">
            <button class="btn btn-warning" type="submit">Warning Button</button>
        </div>
        <div class="col-sm-3 mb-3 hide">
            <button class="btn btn-danger" type="submit">Danger Button</button>
        </div>
        <div class="col-sm-3 mb-3 hide">
            <button class="btn btn-link" type="submit">Link Button</button>
        </div>
    </div>
</div>
{% endraw %}
